body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(8, 1fr);
    background-color: grey;
    font-family: Courier, monospace
}
.headerpt1 {
    grid-area: 1 / 2 / 2 / 5;
    display: grid;
    grid-template-columns: 25px 900px 25px 25px 200px;
    grid-template-rows: 40px;
    background-color: aliceblue;
    align-content: center;
    padding: 25px;
    column-gap: 35px;
}
.headerpt2 {
    grid-area: 2 / 2 / 3 / 5;
    display: grid;
    background-color: aliceblue;
    align-content: center;
    padding:35px;
}
.headerIcon {
    padding: 0;
    border: none;
    background:none;
    font-size: 20px;
}
.name {
    align-self: center;
    font-weight: bolder;
}
.search {
    border-radius: 63px 63px 63px 63px;
    border: none;
    background-color:rgb(232, 228, 228);
    margin-right: 100px;
}
ul {
    list-style-type:none
}
.icon {
    justify-self: center;
    align-self: center;
    font-size: 40px;
}
.subIcon {
    align-self: center;
    justify-self: center;
    font-size: 23px;
}
.subTitle {
    align-self: center;
    font-size: 20px;
}
.title {
    font-size: 30px;
    align-self: center;
}
.title {
    padding-bottom: -50px;
}

.sidebar {
    grid-area: 1 / 1 / end / 2;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 275px 300px;
    padding-top: 15px;
    padding-left: 25px;
    row-gap: 40px;
    color: aliceblue;
}   
.firstBar {
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 15px;
    
}
.secondBar {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: repeat(6, 45px);
    column-gap: 15px;
    padding-left: 15px;
}
.thirdBar {
    display:grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: repeat(3, 45px);
    column-gap: 15px;
    padding-left: 15px;
}
.main-cards {
    grid-area: 3 / 2 / 8 / 4;
}
.right-firstsidebar {
    grid-area: 3 / 4 / 5 / 5;
}
.right-secondsidebar {
    grid-area: 5 / 4 / 8 / 5;
}